<!-- 신규 관리자 계정 등록 페이지 -->

<meta>
<style></style>

<!-- 우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>관리자 계정 정보 관리</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/main">Home </a>>
            </li>
            <li>
                <a href="/admin/list">관리자 계정 정보 관리 </a>>
            </li>
            <li class="active">
                <strong>신규 관리자 등록</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!-- 우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <form id="createForm" action="/admin/create" method="post">
        <div class="ibox-content m-b-sm border-bottom">
            
            <div class="row">
                <!-- 아이디 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">아이디</label>
                        <input type="text" id="admin_id" name="admin_id" class="form-control">
                    </div>
                </div>
                <!-- 비밀번호 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">비밀번호</label>
                        <input type="password" id="admin_pwd" name="admin_pwd" class="form-control">
                    </div>
                </div>
                <!-- 성명 영역 -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">성명</label>
                        <input type="text" id="admin_name" name="admin_name" class="form-control">
                    </div>
                </div>
            </div>
            <!-- 이메일 주소 영역 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">이메일 주소</label>
                        <input type="text" id="admin_email" name="admin_email" class="form-control">
                    </div>
                </div>
            </div>
            <!-- 저장, 취소 버튼 영역 -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/admin/list" class="btn btn-info">목록</a>
            </div>
        </div>
    </form>
</div>

<script></script>