<!-- 신규 게시글 등록 페이지 -->

<meta>
<style></style>

<!-- 우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>게시글 정보 관리</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/main">Home </a>>
            </li>
            <li>
                <a href="/article/list">게시글 정보 관리 </a>>
            </li>
            <li class="active">
                <strong>신규 게시글 작성</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!-- 우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <form id="createForm" action="/article/create" method="post" enctype="multipart/form-data">
        <div class="ibox-content m-b-sm border-bottom">

            <!-- 글 제목 영역 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="title">게시글 제목</label>
                        <input type="text" id="title" name="title" class="form-control">
                    </div>
                </div>
            </div>

            <!-- 글 내용 영역 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="contents">게시글 내용</label>
                        <textarea class="form-control" id="contents" name="contents" rows="15" cols="5"></textarea>
                    </div>
                </div>
            </div>

            <!-- 게시판 고유번호, 게시글 유형코드, 게시 여부 영역 -->
            <div class="row">
                <!-- 게시판 고유번호 영역 -->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="board_type_code">게시판 고유번호</label>
                        <select class="form-control" id="board_type_code" name="board_type_code">
                            <option value="9">선택</option>
                            <option value="1">공지사항 게시판</option>
                            <option value="2">일반 사용자 게시판</option>
                        </select>
                    </div>
                </div>
                <!-- 게시글 유형코드 영역 -->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="article_type_code">게시글 유형코드</label>
                        <select class="form-control" id="article_type_code" name="article_type_code">
                            <option value="9">선택</option>
                            <option value="0">일반 게시글</option>
                            <option value="1">상단 고정 게시글</option>
                        </select>
                    </div>
                </div>
                <!-- 게시 여부 영역 -->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="is_display_code">게시 여부</label>
                        <select class="form-control" id="is_display_code" name="is_display_code">
                            <option value="9">선택</option>
                            <option value="1">게시</option>
                            <option value="0">게시 안 함</option>
                        </select>
                    </div>
                </div>
                <!-- 첨부 파일 영역 -->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="file">첨부 파일</label>
                        <input type="file" id="file" name="file" class="form-control">
                    </div>
                </div>
            </div>
            
            <!-- 저장, 취소 버튼 영역 -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/article/list" class="btn btn-info">목록</a>
            </div>
        </div>
    </form>
</div>

<script></script>