<!-- 2024.07.26 
EJS 문법의 include 방식으로 ejs 파일을 분리하여 재사용할 수 있음. -->

<!-- footer.ejs 우측 하단 풋터 영역-->
<div class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2018
    </div>
</div>